@font-face {
  font-family: "Sky";
  src: url("fonts/Sky_Reg.ttf") format("truetype")
}

@font-face {
  font-family: "Sky Medium";
  src: url("fonts/Sky_Med.ttf") format("truetype");
  font-weight: bold
}
